{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [{rebar3_lint, "~> 0.1"}, coveralls]}.

{profiles,
 [{test,
   [{erl_opts, [debug_info, warnings_as_errors]},
    {sys_config, ["config/test.sys.config"]},
    {deps,
     [{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.9.0"}}},
      {bookish_spork, "0.3.3"}
     ]}
   ]}
 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_service_name, "circle-ci"}.

{eunit_opts,
 [verbose,
  {report, {eunit_surefire, [{dir, "_build/test/test-results/eunit"}]}}
 ]}.

{ct_opts,
 [{ct_hooks,
   [{cth_surefire, [{path, "../../test-results/ct/junit_report.xml"}]}
   ]}
 ]}.
{ct_readable, true}.
