{shell,
 [{apps, [eraven]}
 ]}.
{erl_opts, [debug_info]}.
{deps,
 [{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.9.0"}}}
 ]}.


{profiles,
 [{test,
   [{erl_opts, [debug_info, warnings_as_errors]},
    {sys_config, ["config/test.sys.config"]},
    {deps,
     [{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.9.0"}}},
      {bookish_spork, "0.3.3"}
     ]}
   ]}
 ]}.
